# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Large folders
datasets/
all_formation_images/
videos/
runs/
formation_visualizations/
formation_error_analysis/

# Framework folders
framework/input/
framework/output/

# Model weights
*.pt
