# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Large folders
datasets/
all_formation_images/
videos/
formation_visualizations/
formation_error_analysis/

# Generated outputs
runs/videos/
runs/test/

# Framework folders
framework/input/
framework/output/


